<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verify OTP</title>
    <link rel="stylesheet" href="/stylesheets/output.css">
  </head>

  <body>
    <div class="w-full min-h-screen bg-zinc-900 text-white p-6 flex justify-center items-center">
      <div class="bg-zinc-800 p-6 rounded-lg shadow-lg w-96">
        
        <% if (success_msg && success_msg.length > 0) { %>
            <div class="flash-message p-3 mb-4 text-green-500 bg-green-900 rounded-md"><%= success_msg %></div>
        <% } %>
        
        <% if (error_msg && error_msg.length > 0) { %>
            <div class="flash-message p-3 mb-4 text-red-500 bg-red-900 rounded-md"><%= error_msg %></div>
        <% } %>

        <h3 class="text-3xl mb-5 text-center font-bold">Verify Your Email</h3>
        <p class="text-center text-sm mb-4">Please enter the OTP sent to your email (Please Check your Spam Folder Also) to verify your account.</p>

        <form action="/verify-otp" method="post" class="flex flex-col gap-3">
          <input
            class="px-3 py-2 outline-none bg-transparent border-2 border-zinc-600 rounded-md block w-full"
            type="text"
            placeholder="Enter OTP"
            name="otp"
            required
          />

          <input
            class="px-3 py-2 bg-blue-500 hover:bg-blue-600 text-white font-bold rounded-md cursor-pointer w-full"
            type="submit"
            value="Verify OTP"
          />
        </form>
      </div>
    </div>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
